{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurant.css') }}">
{% endblock %}

{% block content %}
    <h2 class="panel-title">Restaurant Panel</h2>
    <div class="button-container">
        <button class="panel-button" onclick="window.location.href='{{ url_for('restaurant.browse_requests') }}'">Browse Requests</button>
        <button class="panel-button">Browse Offers</button>
        <button class="panel-button" onclick="window.location.href='{{ url_for('restaurant.browse_orders') }}'">Browse Orders</button>
    </div>
{% endblock %}
