{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/client.css') }}">
{% endblock %}

{% block content %}
    <h2 class="panel-title">Add Recipe</h2>

    <form class="client-recipes-form" method="POST" action="{{ url_for('client.add_recipe') }}">

        <a href="{{ url_for('client.add_recipe_type') }}" class="panel-button">Add New Recipe Type</a>
        <a href="{{ url_for('client.add_ingredient') }}" class="panel-button">Add New Ingredient</a>    

        <label for="name">Recipe Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="recipeSteps">Recipe Steps:</label>
        <textarea id="recipeSteps" name="recipeSteps" required></textarea>

        <label for="image_name">Image Name (optional):</label>
        <input type="text" id="image_name" name="image_name">

        <label for="recipe_type_id">Recipe Type:</label>
        <select id="recipe_type_id" name="recipe_type_id">
            {% for type in recipe_types %}
                <option value="{{ type.id }}">{{ type.type }}</option>
            {% endfor %}
        </select>
        

        <h3>Ingredients</h3>
        <div id="ingredients-container">
            <div id="ingredients-container">
                <div>
                    <label for="ingredient_ids">Ingredient:</label>
                    <select name="ingredient_ids[]" required>
                        {% for ingredient in ingredients %}
                            <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="quantities">Quantity:</label>
                    <input type="text" name="quantities[]" required>
                </div>
            </div>
        </div>
        <button type="button" onclick="addIngredient()" class="client-recipes-panel-button">Add Another Ingredient</button>
        <button type="button" onclick="removeIngredient()" class="client-recipes-panel-button">Remove Ingredient</button>
        <button class="panel-button" type="submit">Submit</button>
    </form>

    <script>
        function addIngredient() {
            const container = document.getElementById('ingredients-container');
            const newIngredient = container.children[0].cloneNode(true);
            const inputs = newIngredient.querySelectorAll('input, select');
            inputs.forEach(input => input.value = '');
            container.appendChild(newIngredient);
        }

        function removeIngredient() {
            const container = document.getElementById('ingredients-container');
            if (container.children.length > 1) {
                container.removeChild(container.lastChild);
            }
        }
    </script>

    <a href="{{ url_for('client.manage_recipes') }}">
        <button class="panel-button">Back to Panel</button>
    </a>
{% endblock %}
